*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather';
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #9900cc transparent;
  
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: #9900cc;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9900cc;
  border-radius: 4px;
}
::-webkit-scrollbar-corner {
  background: #9900cc;
  visibility: hidden;
}
body{
  width:100%;
  background-color: #f2f3f7;

}

/* ---------------Header---------------- */
header{
  width:100%;
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center center;
  background:none;
  /* padding:2% 5%; */
}
.main1{
  max-width: 2000px;
  padding: 0px 50px;
  margin:auto;
  height: 100px;
  width: 100%;
  z-index: 1;
  position:relative;
  background:none;
  
}
.main1 .logo{
  float: left;
  width:200px;
  height:70px;
  margin-top:10px;
  margin-left: 5%;
  background:none;
  text-decoration: none;
}
.main1 .logo a{
  text-decoration: none;
}

.logo  h1{
  color:#9900cc;
  width:100%;
}
.main1 ul{
  list-style-type: none;
  text-decoration: none;
  float:right;
  margin-top:30px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  z-index: 1;
  position:relative;
  margin-right: 5%;
  margin-bottom: 5%;
  background:none;
}
.main1 ul li{
  display: inline-block;
  text-decoration: none;
}
.main1 ul li a{
  text-decoration: none;
  color: #9900cc;
  padding:5px 5px;
}

/* ---------------Header End---------------- */

/* ------------------ Instaruction Button----------- */

#launch {
  display: block;
  width: auto;
  height:50px;
  margin: 20px auto;
  background-color: #f2f3f7;
  color:#9900cc;
  border-radius: 40px;
  padding: 0px 30px;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: center;
  margin-left: 45%;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow:  -2px -2px 8px #ffffff70, 
                 1px 2px 5px #00000070;
  transition:0.6s;
}
#launch:hover{
  transition:0.6s;
    box-shadow: inset -2px -2px 8px #ffffff70, 
                inset  2px 2px 2px #00000070; 
}
#launch:hover span{
  display:inline-block;
  transform:scale(0.98);
}
#popup {
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  overflow: auto; /* Enable scroll if needed */
  width: 80%;
  margin: 5% auto;
  padding: 15px 15px;
  border-radius:15px;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
  inset -5px -5px 5px rgba(255,255,255,0.5),
  5px 5px 5px rgba(0,0,0,0.05),
  -5px -5px 5px rgba(255,255,255,0.5);
}
.conatiner-shadow{
  padding: 10px 15px;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius:15px;
  justify-content:center;
  align-items: center;
}
#instructions li {
  margin-left: 50px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color:#9900cc;
  text-decoration: none;
  cursor: pointer;
}
.list-items {
  line-height: 30px;
  font-size: 18px;
  color:#777;
}

.box {
  margin: 20px;
  padding: 20px 30px;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: inset -2px -2px 8px #ffffff70, 
                inset  2px 2px 2px #00000070;
}


.button1-container {
  padding: 0px 40px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button1-purple {
  box-shadow:  -2px -2px 8px #ffffff70, 
                 1px 2px 5px #00000070;
  background:#9900cc;
  color: #eee;
}

.button1 {
  padding: 15px 30px;
  border-radius: 30px;
  outline: none;
  border: none;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 10px;
}
.button1:hover {
  transition: 0.3s ease;
  box-shadow: inset -2px -2px 8px #ffffff70, 
                inset  3px 3px 5px #00000070; 
  background:#9900cc;
  color: #eee;
}

/* ------------------ Instaruction Button End----------- */
/* ------------------ Binary Search Tree----------- */

.tree-con{
  width:100%;
  height:100vh;
  padding:5%;
  padding-top:1%;
  display:flex;
  margin-bottom: 5%;
}

.svg-con{
  position:relative;
  width:70%;
  height:600px;
  background:#fff;
  box-shadow: inset -2px -2px 0px #dad8d870, 
              inset  2px 2px 2px #00000070;
  border-radius:15px;
  padding:20px;
}

.svg {
	position: relative;
    width: 100%;
    height: 90%;
    border-radius:15px;
    cursor: move;
    
}

.svg .nodeLine {
    stroke: #d156fa;
    stroke-width: 1;
} 

.sidebar {
	padding-top: 15px;
  padding-left: 0;

}


.list-group{
  
	border-radius: 20px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
	box-shadow: 2px 2px 2px #e0dedec4
              -5px -5px 10px #8380809f;
  background:#9900cc;
  color:#777;

}
.span{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height:25px;
}

.button {
	background-color: #9900cc;
  color: #fff;
  padding: 6px 12px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border:0;
  border-radius: 5px;
  transition: 0.3s;
}

.button:hover {
  transform: scale(0.9);
  background-color: #5d007c;
}



#addRandomForm .popover {
    width: 20em;
}




text {
    text-anchor: middle;
    color:#fff;
}

.navbar-inverse .navbar-brand {
	color: #d9d9d9;
}

.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
    background-color: transparent;
    color: #d9d9d9;
}   



@media screen and (min-width: 1000px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  /* .row-offcanvas-left {
    left:10%;
  }

  .row-offcanvas-left .sidebar-offcanvas {
    left: -385px;
  }

  .row-offcanvas-left.active {
    left: 0;
  } */


  .sidebar-offcanvas {
    position: relative;
    width: 500px;
    height:400px;
    margin-left: 5%;
  }


  #addNode {
    margin-left: 10px;
    margin-right: 10px;
    width: 18em;
  }

  #searchForNode {
    margin-left: 10px;
    margin-right: 10px;
    width: 18em;
  }

  #deleteNode {
    margin-left: 10px;
    margin-right: 10px;
    width: 18em;
  }

  #addRandom {
    margin-left: 10px;
    margin-right: 10px;
    width: 18em;
  }
}

@media screen and (max-width: 999px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -270px;
  }

  .row-offcanvas-left.active {
    left: 270px;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 250px;
  }

  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .form-inline .form-control {
    display: inline-block;
    vertical-align: middle;
  }

  #addNode {
    width: 5em;
  }

  #searchForNode {
    width: 4.8em;
    margin-top: -1.3em;
    margin-left: 0.2em;
  }

  #deleteNode {
    width: 3.75em;
  }

  #searchForNodeForm > div > label {
    width: 5em;
  }

  #addRandom {
    width: 5.15em;
    margin-top: -1.8em;
  }

  #addRandomForm > div > label {
    width: 10em;
  }
}
/* ------------------ Binary Search Tree End----------- */
/* --------------Footer--------- */
.footer{
  position: relative;
  width: 100%;
  background: #9900cc;
  min-height:100px;
  padding:20px 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer .social, .footer .menu{
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:10px 0;
  flex-wrap: wrap;
}

.footer .social li,.footer .menu li{
  list-style:none;
}
.footer .social li a,.footer .menu li a{
  font-size: 20px;
  color: #fff;
  margin:0 10px;
  display:inline-block;
  transition: 0.5s;
}

.footer .social li a:hover{
  transform: translateY(-10px);
}
.footer .menu li a{
  font-size: 18px;
  color: #fff;
  margin:0 10px;
  display:inline-block;
  transition: 0.5s;
  display:inline-block;
  text-decoration: none;
  opacity: 0.75;
}
.footer .menu li a:hover{
  opacity: 1;
}
.footer p{
  color:#fff;
  text-align: center;
  margin-top: 15px;
  font-size:14px;
  margin-bottom: 10px;
}

.footer .wave{
  position: absolute;
  top:-100px;
  left: 0;
  width:100%;
  height:100px;
  background-image: url("https://sahilshukla279.github.io/hosted-assest/wave.png");
  background-size: 1000px 100px;

}
.footer .wave#wave1{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
.footer .wave#wave2{
  z-index: 1000;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
.footer .wave#wave3{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}
.footer .wave#wave4{
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave {
  0%{
      background-position-x:1000px ;
  }
  100%{
      background-position-x:0px ;
  }
}

@keyframes animateWave_02 {
  0%{
      background-position-x:0px ;
  }
  100%{
      background-position-x:1000px ;
  }
}
/* --------------Footer Ends--------- */

#algo-box{
  margin: 0px;
  margin-top: 60px;
  padding: 20px 30px;
  height: 290px;
  width: 460px;
  max-width: 500px;
  background: #ffffff;
  color:#777;
  border-radius: 25px;
  box-shadow: inset -2px -2px 0px #dad8d870, 
            inset  2px 2px 2px #00000070;
  overflow: scroll;
}
.algo-steps{
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}